*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings


.gradle/
build/
**/*.iml
.idea/
gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.jar
*.log

# Android Studio
captures/
.externalNativeBuild/
.cxx/
crashlytics/
fabric/
app/build/
app/release/
app/debug/

# Xcode
xcuserdata/
DerivedData/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/DerivedData/
*.xcodeproj/xcshareddata/
*.playground/
Pods/